body{
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

p{
    font-family: sans-serif;
}

li{
    font-family: sans-serif;
    color: orange;
}

h1{
    margin: 0;
    padding: 0;
}

section{
    background-color: #A4B0F5;
}

nav{
    background: #807182;
    display: flex;
    flex-direction: row;
    order: 0;
    text-align: center;
    width: 100vw;
}

nav ul{
    align-content: center;
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav ul li{
    color: white;
    display: inline;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}


.start{
justify-content: center;
width: 100vw;
height: 100vh;
background-color: pink;

}

.hide{
display: none;
}
/*
section: nth-child(2){
    background-color: #F58F29;
}
*/
