/* Algemeen */
body{
    background-color: #333333;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

h1, h2{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

/* Navigatie */
#logo{
    align-items: center;
    display: flex;
    margin-left: 2%;
    margin-right: 1%;
}

nav{
    background: #1EB4F4;
    display: flex;
    height: 5em;
    flex-direction: row;
    order: 0;
    text-align: center;
    width: 100vw;
}

nav ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav ul li{
    color: white;
    display: inline;
    flex-direction: row;
    list-style-type: none;
    padding-left: 20%;
    width: 100%;
}

nav ul li a{
    color: white;
    font-size: 1.4em;
    font-weight: 400;
    text-decoration: none;
}


.hide {
    display: none;
}


/* Search */
section {
    border-top: 1px solid #807182;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}

div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    margin-top: 5em;
    width: 100vw;
}

.login {
    align-items: center;
    display: flex;
    width: 100%;
}

#user-input-field {
    font-size: 1em;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}

/* Userquery */
button[type="submit"] {
    height: 2.7em;
    background: none;
    border: 0.2em white solid;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 0.5em;
    padding-top: 0.7em;
    text-transform: uppercase;
}

/* div searchResult*/
article {
    display: flex;
    max-width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
}

.searchResult {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: space-around;
    align-items: flex-start;
    flex-basis: 22em;
    margin: 1.5em;
}

.searchResult h1{
    background-color: #1EB4F4;
    padding: 0.4em;
    position: absolute;
}

.searchResult a {
    color: white;
}

.searchResult img {
    box-shadow: 5px 3px 9px #1b1b1b;
    height: 34em;
    width: 100%;
}

/*
section article{
    flex-grow: 1;
    margin: .3rem;
    padding: .5rem 0 2rem;
    width: calc(35% - .3rem);
    position: relative;
}
*/

/* Emoticons */
svg {
    height: 2.8em;
    display: block;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 5em;
    text-align: center;
}

input[name="emotion"] {
    display: none;
}

input[name="emotion"] + label svg {
    transform: scale(1);
    transition: 500ms ease;
}

input[name="emotion"]:checked + label svg {
    transform: scale(2);
}

.emoji{
    cursor: pointer;
}

/* detail pagina */
.detailResult {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-content: space-around;
/*    align-items: center;*/
    flex-basis: 22em;
    background-color: black;
    border: none;
    justify-content: flex-start;
}

.detailResult img{
    max-height: 30em;
}

.detailResult .detailBlok{
    padding-left: 2em;
    width: 50%;
}

#showDetails {
    width: 80%;
}

.detailResult h1 {
    margin-bottom: 1em;
    font-size: 2em;
}

.detailBlok h2 {
    color: #1EB4F4;
    margin-bottom: 0;
    font-size: 1em;
}

.detailBlok p {
    margin-top: 0;
}

.detailBlok a {
    color: #1EB4F4;
    margin-bottom: 0;
    font-size: 1em;
}


/*
section: nth-child(2){
    background-color: #F58F29;
}
*/

/* EMOCHECK IS VOOR DE RADIO VAN DE EMOJI */
